.footer-custom {
    background: white;
    height: 280px;
    overflow: hidden;
}
.footer__content-bottom-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    color: rgb(var(--color-base-background-1));
}
.candy-spray-avatar-footer {
    text-align: center;
}
.candy-spray-avatar-footer img {
    position: relative;
    top: 60px;
    width: 270px;
}
.footer__links li {
    list-style: none;
    display: inline-block;
    font-family: 'Urgh';
    font-size: 24px;
    height: 100px;
    line-height: 100px;
}
.footer__links li:not(:last-child) {
    padding: 0 36px;
    border-right: 1px solid;
    border-image: linear-gradient(rgba(190, 186, 193, 0), rgba(190, 186, 193, 1), rgba(190, 186, 193, 0)) 0 100% 0;
}
.footer__links li:last-child {
    padding-left: 36px;
}
.caption {
    color: #7C7484;
}
.candy-spray-airbrush-logo-footer {
    width: 290px;
}
.copyright__content {
    color: #7C7484;
    font-size: 14px;
}
.copyright__content a {
    color: rgb(var(--color-base-accent-1));
    text-decoration: none;
}
.text-right {
    text-align: right;
}