.footer-custom {
    background: white;
    overflow: hidden;
}
.footer__content-bottom-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    color: rgb(var(--color-base-background-1));
    padding: 2rem;
}
.candy-spray-logo-footer {
    margin: 0 auto;
}
.candy-spray-avatar-footer {
    display: none;
}
.candy-spray-avatar-footer img {
    position: relative;
    top: 60px;
    width: 270px;
}
.footer__links {
    display: none;
}
.footer__links li {
    list-style: none;
    display: inline-block;
    font-family: 'Urgh';
    font-size: 24px;
    height: 100px;
    line-height: 100px;
}
.footer__links li a {
    text-decoration: none;
    color: rgb(var(--color-base-background-1));
}
.footer__links li:not(:last-child) {
    padding: 0 36px;
    border-right: 1px solid;
    border-image: linear-gradient(rgba(190, 186, 193, 0), rgba(190, 186, 193, 1), rgba(190, 186, 193, 0)) 0 100% 0;
}
.footer__links li:last-child {
    padding-left: 36px;
}
.caption {
    color: #7C7484;
}
.candy-spray-airbrush-logo-footer {
    width: 290px;
}
.copyright__content {
    color: #7C7484;
    font-size: 14px;
}
.copyright__content a {
    color: rgb(var(--color-base-accent-1));
    text-decoration: none;
}
.text-right {
    text-align: center;
}
.list-social {
    justify-content: center;
}
.list-social__link .icon path {
    fill: rgb(var(--color-base-background-1));
}
.list-social__link:hover .icon path {
    fill: rgb(var(--color-base-accent-1));
}
.list-social__link .icon {
    width: 40px !important;
    height: auto !important;
    margin-left: 16px;
}

@media screen and (min-width: 1200px) {
    .text-right {
        text-align: right;
    }
    .footer-custom {
        height: 280px;
    }
    .footer__content-bottom-wrapper {
        grid-template-columns: 1fr 270px 1fr;
        padding: 0 5rem !important;
    }
    .candy-spray-logo-footer {
        margin: unset;
    }
    .candy-spray-avatar-footer {
        text-align: center;
        display: block;
    }
    .list-social {
        justify-content: flex-end;
    }
    .footer__links {
        display: block;
        margin: 0;
    }
}